$main_background: #1e1e2e;
$sub_background: #313244;
$border: #1e1e2e;
$accent: #b4befe;
$main_text: #bfc5d2;
$sub_text: #585a6a;

* {
    all: unset;
}

label {
    color: $main_text;
    font-weight: bold;
}

.separator {
    margin: 0rem 0.5rem 0rem 0.5rem;
}

.bar {
    background-color: $main_background;
    font-family: 'NotoSansMono Nerd Font Mono';
    font-size: 16;
    padding: 0rem 1rem 0rem 1rem;
}

.widget_box {
    margin: 0.1rem;
}

.tray_icon {
    color: $accent;
}

.next_icon {
    margin: 0rem 0.3rem 0rem 0rem;
}

.slider {
    margin: 0rem 1rem 0rem 0rem;
}

progressbar trough {
    min-height: 0.5rem;
    min-width: 8rem;
    background-color: $sub_background;
}

progressbar trough progress {
    min-height: 0.5rem;
    background-color: $accent;
}

scale trough {
    min-height: 0.5rem;
    min-width: 8rem;
    background-color: $sub_background;
}

scale trough highlight {
    min-height: 0.5rem;
    background-color: $accent;
}